<div class="container mt-4">
  <div class="col">
    
    <div class="card custom-card-background">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <h5 class="card-title">Make: {{ carData?.make }}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Model: {{ carData?.model }}</h5>
            <p class="card-text">Year: {{ carData?.year }}</p>
          </div>
          <div class="col-md-4">
            <img [src]="carData?.imageURL" class="img-fluid fixed-image-height" alt="Car Image" />
          </div>
          <div class="col-md-2">
            <button class="btn btn-outline-danger float-right" (click)="deleteCar(carData!._id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
